h2{
	text-align: center;
}



h3{
	font-size: 1.8em;
	text-align: center;
}

h4{
	font-size: 1.4em;
	margin-bottom: 10px;
}

.servicestable{
	width: 100%;
	text-align: center;
}
.servicestable td {
margin-right: -3px;
}

.servicestable td div{
	height: 101px;
margin-right: -3px;
	border: 2px solid grey;
}

text{
	font-size: 1.5em;

}

.editservices{
	text-align: center;
}

input {
	width: 20%;
}

.EditServisesButton{
	margin-top: 10px;
	margin-bottom: 30px;
	width: 25%;
	line-height: 40px;
	font-size: 1.8em;
	border-radius: 15px;
	background-color: grey;
	color: white;

}