h2{
	text-align: center;
}

h4{
	font-size: 1.4em;
	margin-bottom: 10px;
}

.servicestable{
	width: 100%;
	text-align: center;
}
.servicestable td {
	color: white;
	margin-right: -3px;
}

.servicestable td div{
	color: white;
	height: 101px;
	margin-right: -3px;
	border: 2px solid grey;
}


