
h3{
	color: white;
	text-align: center;
}


h4{
	color: white;
}

.MyServices{
	width: 100%;
	text-align: center;
}
.MyServices td {
margin-right: -3px;
color: grey;
}

.MyServices td div{
	height: 101px;
margin-right: -3px;
	border: 2px solid grey;
}
