body{

	background-image: url(../../img/fon.png);
	background-repeat: no-repeat;
	background-size: 100%; 
	height: 100%;
	margin: 0px;
}

.schapka{
	background-color: black;
	width: 100%;
	height: 10%;
}


p{
	font-size: 20px;
	font-family: Arial;
	letter-spacing: 1px;
	text-align: center;

}

ul{
	color: white;
	line-height: 60px;
	margin: 0px;
}
ul li{
	font-family: Arial;
	letter-spacing: 1px;
	font-size: 30px;
	margin-right: 30px;
	display: inline;
}

a{
	color: white;
	text-decoration: none;
}


ul li:hover{
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.blokC{
	margin-top: 3%;
	margin-left: 30%;
	height: 100%;
	width: 40%;
	background-color: #D3D3D3;
}