body{

	background-image: url(../../img/fon.png);
	background-repeat: no-repeat;
	background-size: 100%; 
	height: 100%;
	margin: 0px;
}

.schapka{
	background-color: black;
	width: 100%;
	height: 10%;
}


p{
	font-size: 20px;
	font-family: Arial;
	letter-spacing: 1px;
	text-align: center;

}

ul{
	background-color: black;
	color: white;
	line-height: 60px;
	margin: 0px;
}
ul li{
	font-family: Arial;
	letter-spacing: 1px;
	font-size: 30px;
	margin-right: 30px;
	display: inline;
}

a{
	color: white;
	text-decoration: none;
}


ul li:hover{
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.blokC{
	margin-top: 3%;
	margin-left: 30%;
	width: 40%;
	background-color: #202020;
}
.vivod{
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 3em;
	color: white;
	text-align: center;
}

.adminka{
	text-align: center;
	color: white;
}
.h3{
	text-align: center;
	color: white;
}

.textstatus{
	margin-top: 10px;
	position: relative;
	margin-left: -258px;
}

#statusid{
	margin-top: 10px;
	position: absolute;
	margin-right: 45px;
}

.knopkastvuser{
	border-radius: 4px;
	height: 3%;
	width: 20%;
	font-size: 1em;
	margin-top: 20px;
}

.knopkadelete{
	border-radius: 4px;
	height: 3%;
	width: 20%;
	font-size: 1em;
	margin-bottom: 25px; 
}



.zagolovkitablici{
	font-size: 0.5em;
	color: white;
}

.zagolovkitablici li {
	font-size: 2em;
}



.zagolovkitablici li:hover {
		border-top: 0px solid white;
		border-bottom: 0px solid white;
}

.vidpolzovateley{
	color: white;
	background-color: #202020;
	border: 2px solid grey;
	margin-right: -3.4px;
}

.usertable{
	margin-left: 28%;
	text-align: center;
	color: grey;
	font-size: 1.2em;
}

text{
	color: grey;
}

.edituser{
	text-align: center;
}

h3 a {
	text-decoration: underline;
	font-size: 3em;
	margin-left: 28%;
}